.conditionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

#firstSection {
    /* margin-bottom: 40px; */
}

#secondSection {
    /* margin-top: auto; */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

#h1 {
    margin:0;
    font-size: 2rem;
}

#h2 {
    margin: 0 0 56px 0;
    font-size: 2.5rem;
    font-family: texGyreHerosBold;
}

#date {
    /* font-style: italic; */
    font-family: texGyreHerosItalic;
    margin: 0;
}

.icon{
    margin-right: 8px;
}

.p{
    margin: 0;
}

#rain {
    grid-row-start: 2;
    grid-column-start: 1;
}

#save{
    grid-row-start: 2;
    grid-column-start: 2;
    justify-content: flex-end;
}