@font-face {
  font-family: texGyreHeros;
  src: url("/fonts/texgyreheros-regular.otf") format("opentype");
}

@font-face {
  font-family: texGyreHerosItalic;
  src: url("/fonts/texgyreheros-italic.otf") format("opentype");
}

@font-face {
  font-family: texGyreHerosBold;
  src: url("/fonts/texgyreheros-bold.otf") format("opentype");
}

*{
  font-family: texGyreHeros, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #DADADA;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}